.container {
    background-color: rgb(33, 246, 253);
    height: 22em;
    width: 22em;
    border-radius: 20px;
    position: absolute;
    top: 15%;
    left: 35%;
    display: flex;
    justify-content: center;
  }

  .container:hover{
    opacity: 0.6;
  }
  
  .inner img {
    height: 250px;
    width: 330px;
    margin-top: 10px;
  }
  
  .course {
    font-size: 18px;
    font-weight: 900;
  }
  
  .full-stack {
    font-weight: 100;
    font-size: 18px;
  }